@inherits LayoutComponentBase
@rendermode InteractiveServer

<div class="page">

    <main>
        <NavMenu />

        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="Exception">
                    @onErro(Exception);
                    <h1 style="color: red;">Opa... Ocorreu um erro</h1>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@{
    async Task<string> onErro(Exception ex)
    {
        Console.WriteLine($"Erro: {ex.Message}");
        return string.Empty;
    }

}
