<nav>
    <div class="nav-wrapper blue darken-4">
        <a class="brand-logo center">Logo</a>
        <a style="cursor:pointer" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><NavLink class="nav-link sidenav-close" href="" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink class="nav-link sidenav-close" href="/about" Match="NavLinkMatch.All">About</NavLink></li>
            <li><NavLink class="nav-link sidenav-close" href="/tables" Match="NavLinkMatch.All">Tables</NavLink></li>
            <li><NavLink class="nav-link sidenav-close" href="/forms" Match="NavLinkMatch.All">Forms</NavLink></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><NavLink class="nav-link sidenav-close" href="" Match="NavLinkMatch.All">Home</NavLink></li>
    <li><NavLink class="nav-link sidenav-close" href="/about" Match="NavLinkMatch.All">Toasts</NavLink></li>
    <li><NavLink class="nav-link sidenav-close" href="/tables" Match="NavLinkMatch.All">Tables</NavLink></li>
    <li><NavLink class="nav-link sidenav-close" href="/forms" Match="NavLinkMatch.All">Forms</NavLink></li>
</ul>
